div#dashboard-content-container {
   display: flex;
   flex-direction: column;

   padding-top: 3%;
   width: 80%;
   height: 100vh;

   overflow: hidden
}

div#dashboard-content-header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding-bottom: 15px;
   border-bottom: 1px solid #D3E2E5;
}

div#dashboard-content-header span {
   color: #8FA7B2;

   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}

.dashboard-content-title {
   color: #4D6F80;

   align-self: flex-start;

   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   line-height: 34px;
}

div#dashboard-content-container div#dashboard-content-wrapper {
   display: flex;

   height: 100%;
   width: 100%;

   overflow-y: visible;
   overflow-x: hidden;

   margin-top: 40px;
   margin-bottom: 40px;
}

div#dashboard-content-container div#dashboard-content-wrapper::-webkit-scrollbar {
   width: 8px;
}

div#dashboard-content-container div#dashboard-content-wrapper::-webkit-scrollbar-track {
   background: #D3E2E5;
   border-radius: 50px;
}

div#dashboard-content-container div#dashboard-content-wrapper::-webkit-scrollbar-thumb {
   background-color: #ffe394;
   border-radius: 50px;
}

div.icon-button {
   background-color: #EBF2F5;
   border-radius: 16px;

   width: 48px;
   height: 48px;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: background-color 0.2s;

   cursor: pointer;
}

div.icon-button:hover {
   background-color: #e3ecef;
}