* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: #FFF;
   background-color: #ebf2f5;
}

body,
input,
button,
textarea {
   font: 600 18px Nunito, sans-serif;
}

.leaflet-control-attribution {
   display: none !important;
   cursor: none !important;
   pointer-events: none !important;
}