div#toast-container {
   position: absolute;

   top: 0;
   left: 0;

   display: flex;
   flex-direction: column;

   background: transparent;

   overflow: hidden;

   width: 20%;
   height: 100%;

   padding: 10px;

   row-gap: 10px;
}

@keyframes slide-in {
   0% {
      top: -2em;
   }

   100% {
      top: 0;
   }
}

@keyframes slide-out {
   0% {
      left: 0;
   }

   100% {
      left: -30em;
   }
}

div#toast-container .animate-toast-out {
   -webkit-animation: slide-out .4s forwards;
   animation: slide-out .4s forwards;
}

div#toast-container .animate-toast-in {
   -webkit-animation: slide-in .4s forwards;
   animation: slide-in .4s forwards;
}

div#toast-container .toast {
   position: relative;

   width: fit-content;

   border-radius: 20px;

   padding: 15px;
}

div#toast-container .warn {
   background-color: #FFD666;
}

div#toast-container .success {
   background-color: #32B574;
}

div#toast-container .error {
   background-color: #FF669D;
}