/* Input */
div.text-component.with-error input {
   border: 1px solid #FF669D;


   background-color: rgba(255, 102, 158, 0.039);
}

div.text-component input:not(:placeholder-shown) {
   border: 1px solid #A1E9C5;
}

/* Textarea */
div.text-component.with-error textarea {
   border: 1px solid #FF669D;


   background-color: rgba(255, 102, 135, 0.039);
}

div.text-component textarea:not(:placeholder-shown) {
   border: 1px solid #A1E9C5;
}

/* Both */
div.text-component.with-error label {
   color: #FF669D;
}

div.text-component.with-error label span {
   color: #FF669D;
}

div.text-component span.text-error {
   color: #FF669D;

   align-self: flex-start;

   font-size: medium;

   margin-top: 5px;
}