form.orphanage-form {
   display: flex;

   padding: 64px 80px;

   flex-direction: column;
}

form.orphanage-form .orphanage-edit-wrapper {
   width: 100%;
   background-color: #F5F8FA;

   border: 1px solid rgb(211 226 229);
   border-radius: 20px;
}

form.orphanage-form .orphanage-edit-wrapper div {
   width: 100%;
   padding: 20px;

   display: flex;
   align-items: center;
   justify-content: center;
}

form.orphanage-form .orphanage-edit-wrapper div span {
   color: #0089A5;

   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 25px;
}

form.orphanage-form .orphanage-edit-wrapper .orphanage-map {
   border: 0;
}

form.orphanage-form .orphanage-map {
   width: 100%;
   height: 280px;

   border-radius: 20px;
   border: 1px solid rgb(211 226 229);
}

form.orphanage-form fieldset {
   border: 0;

   display: flex;
   flex-direction: column;
   gap: 40px;
}

form.orphanage-form fieldset+fieldset {
   margin-top: 60px;
}

form.orphanage-form fieldset+button {
   margin-top: 40px;
}

form.orphanage-form fieldset legend {
   width: 100%;
   border-bottom: 1px solid rgb(211 226 229);

   font-size: 32px;
   line-height: 34px;
   color: rgb(92 133 153);
   font-weight: 700;

   padding-bottom: 24px;
   margin-bottom: 40px;
}

form.orphanage-form fieldset .open-on-weekends-choices {
   width: 100%;

   display: flex;
   flex-direction: column;

   gap: 10px;
}

form.orphanage-form fieldset .open-on-weekends-choices label {
   color: #8FA7B2;

   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
}

form.orphanage-form fieldset .open-on-weekends-choices div {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
}


form.orphanage-form fieldset .open-on-weekends-choices div button {
   width: 100%;

   border: 1px solid #D3E2E5;

   background: #F5F8FA;

   height: 64px;
}

form.orphanage-form fieldset .open-on-weekends-choices div button:first-child {
   border-radius: 20px 0 0 20px;
}

form.orphanage-form fieldset .open-on-weekends-choices div button:last-child {
   border-radius: 0 20px 20px 0;
}

form.orphanage-form fieldset .open-on-weekends-choices div button.active-yes {
   background: #EDFFF6;
   border: 1px solid #A1E9C5;
   color: #37C77F;
}

form.orphanage-form fieldset .open-on-weekends-choices div button.active-no {
   background: #ffd3e3;
   border: 1px solid #f886b0;
   color: #FF669D;
}