.form-space-between-wrapper {
   display: flex;
   align-items: center;
   flex-direction: row;

   width: 100%;
   margin-bottom: 10px;

   justify-content: space-between;
}

.form-link {
   text-decoration: none;

   color: #8FA7B2;
}