div#nested-sidebar-layout {
   width: 100vw;
   height: 100vh;

   display: flex;
}

div#nested-sidebar-layout div#nested-sidebar-layout-content-wrapper {
   display: flex;

   width: 100%;
   height: 100%;

   align-items: center;
   justify-content: center;
}